# Node modules
node_modules/

# Logs
*.log

# Mac system files
.DS_Store

# Environment variables
.env

# Build folders
build/
dist/
coverage/

# Cache folders
.cache
.pnp.*

# Yarn specific
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Optional: VS Code settings
.vscode/
